@model NTUB.BookStore.Site.Models.Entities.CartEntity

@{
    ViewBag.Title = "Info";
}

<style>
    .total {
        display: flex;
        align-items: baseline;
    }

        .total h4 {
            margin: 0;
        }

        .total p {
            padding: 0px 13px;
        }
</style>

<h2>Info</h2>


<table class="table">
    <tr>
        <th>
            商品
        </th>
        <th>
            數量
        </th>
        <th>
            小計
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GetItems())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                <button class="btn btn-sm btn-danger delQty" data-id="@item.Product.Id" data-Qty="@item.Qty">減一</button>
                <button class="btn btn-sm btn-primary addQty" data-id="@item.Product.Id" data-Qty="@item.Qty">加一</button>
            </td>
        </tr>
    }

</table>

<div class="total">
    <h4>Total:</h4><p>@Model.Total.ToString("#,#")</p>

    <br />
    @if (Model.AllowCheckout)
    {
        <div class=" checkout">
            <a href="/Cart/Checkout/" class=" btn btn-danger btn btn-sm"
               style="background-color:palevioletred;border-style:hidden; color:ghostwhite">結帳</a>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $(".addQty").each(function () {
                $(this).on("click", function () {
                    // console.log("hello");
                    var self = $(this);
                    var productId = self.attr("data-id");

                    var qty = self.attr("data-qty");
                    qty = parseInt(qty) + 1;

                    $.get("/Cart/UpdateItem?productId=" + productId + "&Qty=" + qty,
                        null,
                        function (result) {
                            location.reload();
                        });
                });
            });

            $(".delQty").each(function () {
                $(this).on("click", function () {
                    // console.log("hello");
                    var self = $(this);

                    var productId = self.attr("data-id");
                    var qty = self.attr("data-qty");
                    qty = parseInt(qty) - 1;

                    $.get("/Cart/UpdateItem?productId=" + productId + "&Qty=" + qty,
                        null,
                        function (result) {
                            location.reload();
                        });
                });
            });




        });



    </script>


}
